# Supabase - projeto ClubeDeep
NEXT_PUBLIC_SUPABASE_URL=https://belkndgffvclarrndrnm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=cole_aqui_a_anon_key
SUPABASE_SERVICE_ROLE_KEY=cole_aqui_a_service_role_key
NEXT_PUBLIC_SITE_URL=https://painel.seudominio.com.br
